.book-area{
    width: 40%;
    height: 30%;
    margin: 2% 5%;
    display: flex;
}
.avatar{
    height: 100%;
}
.book-info{
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 0px 12%;
    
}
p{
    font-size: 25px;
}
a{
    width: fit-content;
    padding: 5px;
    border: 1px lightblue solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightseagreen;
    text-decoration: none;
    color: white;
}