.search-area {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    height: 50%;
}
input[type=text] {
    outline: none;
    border-radius: 100px;
    padding: 0px 12px;
    /* height: 50%; */
    width: 60%;
}
input[type=button] {
    
    width: 10%;
    /* height: 50%; */
}
