
.complete{
    text-decoration: line-through;
}
.todo {
    width: 45%;
    height: 20%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: white;
}
.todo-title {
    height: 40%;

    padding-left: 5%;
    /* padding: 2%; */
}

.todo-content {
    height: 40%;
    padding-left: 3%;
    overflow: scroll;
}
.todo-function {
    display: flex;
    height: 20%;
    /* justify-content: space-evenly; */
}
.button {
    width: fit-content;
    height: 100%;
    margin-left: 5%;
    color: #0fafee;
    background-color: white;
    border: none;
    outline: none;
}
.button:hover {
    cursor: pointer;
}