* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
}
.border {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888888;
}
.main {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.todolist {
  width: 80%;
  height: 100%;
}
.signin-up {
  width: 80%;
  height: 100%;
}
